<script type='text/javascript'>
 
 window.onload=function(){
	addHotProductNode();
	registerHotProductNavBtn();
	initHotProductZone();
	
}
 
 function addHotProductNode(){
	var hpz_header = document.getElementById("hpz_header");
    var introEl=document.createElement("div"); 
	introEl.className="intro";
	hpz_header.appendChild(introEl); 
	var txtNode=document.createTextNode("最新产品"); 
	introEl.appendChild(txtNode);
 }
 
 var navBtnList = new Array();
 
 function registerHotProductNavBtn(){
    
	var u1Node = document.getElementById("navBtnList");
	var liList = u1Node.getElementsByTagName("li");
	for(var i=0; i<liList.length; i++)
	{
		var linkNode = liList[i].getElementsByTagName("a").item(0);
		var linkButton = new Button(linkNode);
		linkButton.index = i;
		navBtnList[i] = linkButton;
	}
 }

 
 function Button(element)
 {
	this.element = element;
	this.element.buttonObj = this;
	this.element.onclick = this.clickHandle;
 }
 
 Button.prototype.clickHandle = function(){
     for(var i=0; i<navBtnList.length; i++)
	 {
		
		var imageId = "detailImage" + i;
		
		var hpz_mainNode = document.getElementById("hpz_main");
        var detailImageList = hpz_mainNode.getElementsByTagName("img");
		var imageNode;
		if(this.buttonObj.index == i)
		{
			imageNode = detailImageList[i];
			imageNode.style.display = "block";
		}
		else
		{
			imageNode = detailImageList[i];
			imageNode.style.display = "none";
		}
	    
	 }
 }
 
 function initHotProductZone()
 {
	var hpz_mainNode = document.getElementById("hpz_main");
	var imgNodeList = hpz_mainNode.getElementsByTagName("img");
	var imgNode = imgNodeList[0];
	imgNode.style.display = "block";
 }
 
 
</script>

<div id="hotProductZone">
<div id="hpz_header"></div>
<div id="hpz_main">
	<u1 id = "navBtnList" class="productsList">
<% @products.each do |product|%>
	<li>
		<a><%= product.title %></a>
	</li>
<% end %>
	</u1>
<% @products.each do |product|%>
	<div class="detail">
		<img style="display:none" src=<%= product.image_url %>>
	</div>
<% end %>
</div>
<div id="hpz_footer"></div>	
<u1 id="test_protected_link">
<li>
	<%= auth_link_to "发表评论", {:controller => "posts", :action => "new"},  :id => 'post-link'%>
</li>
</u1>
</div>