/* Global styles */
#main {
    display: block;
    margin: 0 auto;
    position: relative; 
    width: 980px;  
}

#main #notice {
        color: #000;
        border: 2px solid red;
        padding: 1em;
        margin-bottom: 2em;
        background-color: #f0f0f0;
        font: bold smaller sans-serif;
}


#main h1 {
        font:  150% sans-serif;
        color: #226;
        border-bottom: 3px dotted #77d;
}

/* Styles for products/index */

#product_list table {
        border-collapse: collapse;
}

#product_list table tr td {
        padding: 5px;
        vertical-align: top;
}

#product_list .list_image {
  width:        60px;
  height:       70px;
}

#product_list .list_description {
  width:        60%;
}

#product_list .list_description dl {
        margin: 0;
}

#product_list .list_description dt {
  color:        #244;
  font-weight:  bold;
  font-size:    larger;
}

#product_list .list_description dd {
        margin: 0;
}

#product_list .list_actions {
  font-size:    x-small;
  text-align:   right;
  padding-left: 1em;
}

#product_list .list_line_even {
  background:   #e0f80f;
}

#product_list .list_line_odd {
  background:   #f8e880;
}

/* Styles for main page */
#banner {
  background: -moz-linear-gradient(#FFA200, #F07B08 70%, #E26A09 90%, #FF8400 100%) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FFA200), to(#F07B08)); 
  border-bottom: 1px solid #DB7B5D;
  border-top: 1px solid #DB7B5D;
  display: block;
  height: 34px;
  line-height: 33px;
  position: relative;
  z-index: 40;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: white;
  text-align: left;
}
#banner img {
    float: left;
}
#columns {
/*    margin-top: 2em;*/

}
#content {
    float: left;
    padding-top: 1em;
    padding-left: 2ex;
    overflow: hidden;
    width: 780px;
/*    border: 2px solid #E0DFDF;*/
}

#navi {  
  background: -moz-linear-gradient(#FFA200, #F07B08 70%, #E26A09 90%, #FF8400 100%) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FFA200), to(#F07B08)); 
  border-bottom: 2px solid #DCDCDC;
  border-top: 1px solid #DB7B5D;
  display: block;
  height: 34px;
  line-height: 33px;
  position: relative;
  z-index: 40;
}

#navi a{
  padding: 5px;
  display: block;
  font:  125% sans-serif;
  color: white;
}
    
#navi a:hover {
  background: #FFA800;
  cursor: pointer;
}
    
.leftNavi{
  float:left;
  list-style: none;
}
    
.leftNavi li{
  float:left;
  padding-right:1em;
}

.rightNavi{
  position:absolute;
  right:0;
  top:0;
  list-style: none;
  width:320px; 
}
    
.rightNavi li{
  float:right;
  list-style: none;
  padding-right:1em;
}    
    

#container { 
    display: block;
    margin: 0 auto;
    position: relative;    
}

#sidebar {
    float: right;
    padding-top: 5px; 
    padding: 5px;
    width: 160px;
    overflow: hidden;
/*    border: 2px solid #E0DFDF;*/
}

#sidebar .spline {
    clear: both;
    height: 8px;
    overflow: hidden;
}
#sidebar .box-t, .box-t .box-tm, .box-b, .box-b .box-bm {
    height: 5px;
}
#sidebar h3 {
    color: #CC0000;
    height: 25px;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 0 13px;
}

#sidebar .box-cont {
    padding: 0 0 7px;
}
#sidebar .box-cont p, .box-cont ul {
    padding: 0 10px;
}
#sidebar .cont-txt p {
    padding: 0 0 5px;
}

#login
{
/*  margin: 2px;
  height: 1em;
  padding-bottom: 5px;*/
} 

#login u1
{
  list-style: none;
  float: right;
}   

#login u1 li
{
  float: right;
  padding-left: 1em;
}

/* An entry in the store catalog */

#main  .entry {
  overflow: auto;
  margin-top: 1em;
  border-bottom: 1px dotted #77d;
}

#main  .title {
  font-size: 120%;
  font-family: sans-serif;
}

#main .entry img {
  width: 80px;
  margin-right: 5px;
  margin-bottom: 5px;
  float: left;
}


#main .entry h3 {
 margin-top: 0;
 margin-bottom: 2px;
 color: #227;
}

#main .entry p {
 margin-top: 0.5em; 
 margin-bottom: 0.8em; 
}

#main .entry .price_line {
 clear: both;
 margin-bottom: 0.5em;
}

#main .entry .add_to_cart {
  position: relative;
}

#main .entry  .price {
  color: #44a;
  font-weight: bold;
  margin-right: 2em;
}

#main .entry form, #store .entry form div {
    display: inline;
}

#main .cart_title {
  font: 120% bold;
}
#main .item_price, #store .total_line {
  text-align: right;
}
#main .total_line .total_cell {
  font-weight: bold;
  border-top: 1px solid #595;
}

