/* Global styles */
#main {
    display: block;
    margin: 0 auto;
    position: relative; 
    width: 1024px;  
}

#main #notice {
        color: #000;
        border: 2px solid red;
        padding: 1em;
        margin-bottom: 2em;
        background-color: #f0f0f0;
        font: bold smaller sans-serif;
}


#main h1 {
        font:  150% sans-serif;
        color: #226;
        border-bottom: 3px dotted #77d;
}

/* Styles for products/index */

#product_list table {
        border-collapse: collapse;
}

#product_list table tr td {
        padding: 5px;
        vertical-align: top;
}

#product_list .list_image {
  width:        60px;
  height:       70px;
}

#product_list .list_description {
  width:        60%;
}

#product_list .list_description dl {
        margin: 0;
}

#product_list .list_description dt {
  color:        #244;
  font-weight:  bold;
  font-size:    larger;
}

#product_list .list_description dd {
        margin: 0;
}

#product_list .list_actions {
  font-size:    x-small;
  text-align:   right;
  padding-left: 1em;
}

#product_list .list_line_even {
  background:   #e0f80f;
}

#product_list .list_line_odd {
  background:   #f8e880;
}

/* Styles for main page */
#banner {
    background: #DD2644;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-bottom: 2px solid #E2657A;
    font: small-caps 40px/40px "Times New Roman", serif;
    color: white;
    text-align: left;
}
#banner img {
    float: left;
}
#columns {
/*    margin-top: 2em;*/

}
#content {
    float: left;
    /*margin-top: 1em;*/
    padding-top: 1em;
    padding-left: 2ex;
    overflow: hidden;
    width: 800px;
    /*background: white;*/
}

#navi {
  position: relative;
  background: #DD2644;
  width: 100%;  
}

#navi a{
  display: block;
  font:  150% sans-serif;
  color: white;
}
    
#navi a:hover {
  background: #E2657A;
  cursor: pointer;
}
    
#navi u1{
  padding: 5px;
  padding-left: 2ex;
  float: left;
  list-style: none;
  background: #DD2644;   
/*  border-bottom: #77d dotted 5px;*/
}
    
#navi u1 li{
  float: left;
  padding-right:1em;
}    

#container { 
    display: block;
    margin: 0 auto;
    position: relative;    
}

#sidebar {
    float: right;
    margin-top: 1ex; 
    /*border: 2px solid #E0DFDF;*/
    padding: 1em;
    width: 180px;
    overflow: hidden;
}

#sidebar .spline {
    clear: both;
    height: 8px;
    overflow: hidden;
}
#sidebar .box-t, .box-t .box-tm, .box-b, .box-b .box-bm {
    height: 5px;
}
#sidebar h3 {
    color: #CC0000;
    height: 25px;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 0 13px;
}

#sidebar .box-cont {
    padding: 0 0 7px;
}
#sidebar .box-cont p, .box-cont ul {
    padding: 0 10px;
}
#sidebar .cont-txt p {
    padding: 0 0 5px;
}


#commentsList
{
	margin-top: 0em;
}

.box, .main-Box {
    padding-bottom: 10px;
}
#sidear .box-t, .box-b {
    font-size: 0;
    position: relative;
}
#sidear .box-tl, .box-tr, .box-bl, .box-br {
    display: block;
    height: 5px;
    position: absolute;
    top: 0;
    width: 5px;
}
#sidear .box-tm, .box-bm {
    background-color: #FFFFFF;
    display: block;
    height: 4px;
    margin: 0 5px;
}
#sidear .box-tm {
    border-top: 1px solid #DEDEDE;
}
#sidear .box-bm {
    border-bottom: 1px solid #DEDEDE;
}
#sidear .box-tl {
    background-position: -140px -140px;
    left: 0;
}
#sidear .box-tr {
    background-position: -145px -140px;
    right: 0;
}
#sidear .box-bl {
    background-position: -140px -145px;
    left: 0;
}
#sidear .box-br {
    background-position: -145px -145px;
    right: 0;
}
#sidear .box-cont {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: #DEDEDE;
    border-style: solid;
    border-width: 0 1px;
    padding: 10px;
}

#sidear .box-cont {
    min-height: 60px;
}
